<ion-header>
  <ion-toolbar>
    <ion-title>items-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of items$ | async">
        <app-item-headline [item]="item" (delete)="deleteItem($event)" (update)="updateItem($event)"></app-item-headline>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/item-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
