<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>item-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (submit)="save()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tags</ion-label>
        <tag-input formControlName="tags" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Enclosure</ion-label>
        <ion-input formControlName="enclosure" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description" type="text">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="!editForm.valid">
      Save
    </ion-button>
  </form>
</ion-content>