<ion-card button="true" routerLink="/item-detail/{{ item.id }}">
  <ion-img [src]="item.enclosure" *ngIf="item.enclosure else placeholder"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ item.title }}</ion-card-title>
    <ion-card-subtitle>John Smith - {{ item.createdAt.seconds*1000 | date: 'MMM d' }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{ item.description | truncate:120 }}
    <section>
      <ion-chip *ngFor="let tag of item.tags; let i = index" (click)="filterByTag($event, tag)">
        <ion-label>{{ tag.name }}</ion-label>
      </ion-chip>
    </section>
  </ion-card-content>
  <ion-row class="ion-justify-content-left">
    <ion-col size="8" class="ion-text-left">
      <ion-button fill="clear" size="small" color="primary" (click)="delete($event, item)" *ngIf="item.id">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
      <ion-button fill="clear" size="small" color="primary" (click)="update($event, item)" *ngIf="item.id">
          <ion-icon name="create" slot="start"></ion-icon>
          Update
        </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <!--         <ion-button fill="clear" size="small" color="primary" (click)="like($event, item)">
            <ion-icon name="heart" slot="start"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="favorite($event, item)">
          <ion-icon name="star" slot="start"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" (click)="share($event, item)">
          <ion-icon name="share" slot="start"></ion-icon>
        </ion-button> -->
        <ion-button fill="clear" size="small" color="primary" (click)="presentActionSheet($event, item)">
          <ion-icon name="more" slot="start"></ion-icon>
        </ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<ng-template #placeholder>
  <ion-img src="https://ionicframework.com/docs/demos/api/card/madison.jpg"></ion-img>
</ng-template>
