<ion-card button="true" routerLink="/item-detail/{{ item.id }}">
  <ion-img [src]="item.enclosure" *ngIf="item.enclosure"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>News</ion-card-subtitle>
    <ion-card-title>{{ item.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ item.description }}
  </ion-card-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="clear" size="small" color="primary" (click)="deleteItem($event, item.id)" *ngIf="item.id">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="clear" size="small" color="primary" (click)="updateItem($event, item.id)" *ngIf="item.id">
        <ion-icon name="create" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <div>
        {{ item.createdAt.seconds*1000 | date: 'mediumDate' }}
      </div>
    </ion-col>
  </ion-row>
</ion-card>