<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" routerLink="/">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>item-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header" *ngIf="item?.enclosure">
    <ion-img [src]="item.enclosure"></ion-img>
  </div>
  <div class="about-info">
    <h4 class="ion-padding-start">{{ item?.title }}</h4>

    <ion-list>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Created at {{ item?.createdAt.seconds*1000 | date: 'medium' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Modified at {{ item?.modifiedAt.seconds*1000 | date: 'medium' }}</ion-label>
      </ion-item>
    </ion-list>

    <p class="ion-padding-start ion-padding-end">{{ item?.description }}</p>
  </div>
</ion-content>